.concept {
  margin: 300px 25%;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  p {
    text-align: center;
  }

  table {
    margin: 80px 0;

    td {
      padding: 20px;
      width: 30%;
    }

    .icon {
      td {
        img {
          width: 100px;
          margin-left: calc(50% - 50px);
        }
      }
    }

    .icon-text {
      td {
        text-align: center;
        color: $white;
        font-weight: 100;
        font-size: 15px;
        font-family: $font-text;
        line-height: 1.5;

        b {
          font-weight: 400;
        }
      }
    }
  }

  .perso {
    display: flex;
    align-items: center;

    h2 {
      margin-bottom: 10px;
    }

    img {
      width: 120px;
    }
  }

  .charlotte {
    margin-top: 200px;
    .perso-text {
      p, h2 {
        text-align: left;
        margin-left: 60px;
      }
    }
  }

  .guillaume {
    margin-top: 100px;
    .perso-text {
      p, h2 {
        text-align: right;
        margin-right: 60px;
      }
    }
  }
}
