.operation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px 15%;
  margin-top: 600px;

  img {
    width: 200px;
    margin: 0 100px;
  }
  .option {
    h2 {
      font-size: 25px;
      margin-bottom: 40px;
    }
  }
}
